<%- model_class = Experience -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>


<%= search_form_for @search do |f| %>
  <div>
  <%= f.label :title_cont, 'タイトル' %>
  <%= f.text_field :title_cont %>
  </div>
  <div>
  <%= f.label :m_income_gteq, "夫の収入" %>
  <%= f.text_field :m_income_gteq %>
  <%= f.label :m_income_lteq, "〜" %>
  <%= f.text_field :m_income_lteq %>万円  
  </div>

    <div>
  <%= f.label :f_income_gteq, "妻の収入" %>
  <%= f.text_field :f_income_gteq %>
  <%= f.label :f_income_lteq, "〜" %>
  <%= f.text_field :f_income_lteq %>万円  
  </div>

  <div>
  <%= f.label :m_total_gteq, "夫の就業時間" %>
  <%= f.text_field :m_total_gteq %>
  <%= f.label :m_total_lteq, "〜" %>
  <%= f.text_field :m_total_lteq %>時間
  </div>

  <div>
  <%= f.label :f_total_gteq, "妻の就業時間" %>
  <%= f.text_field :f_total_gteq %>
  <%= f.label :f_total_lteq, "〜" %>
  <%= f.text_field :f_total_lteq %>時間
  </div>

  <div>
  <%= f.label :helper_gteq, "子育てを手助けしてくれる人" %>
  <%= f.text_field :helper_gteq %>
  <%= f.label :helper_lteq, "〜" %>
  <%= f.text_field :helper_lteq %>人
  </div>

  <div>
  <%= f.label :location_cont, '場所' %>
  <%= f.text_field :location_cont %>
  </div>
  
  <div>
    <%= f.submit '検索する' %>
  </div>
<% end %>


<table class="table table-striped">
  <thead>
    <tr>
      <th>夫の収入</th>
      <th>妻の収入</th>
      <th>夫の就業開始時間</th>
      <th>夫の就業時間</th>
      <th>妻の就業開始時間</th>
      <th>妻の就業時間</th>
      <th>補助人数</th>
      <th>場所</th>
      <th>タイトル</th>
      <th>本文</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @experiences.each do |experience| %>
      <tr>
        <td><%= experience.m_income %></td>
        <td><%= experience.f_income %></td>
        <td><%= experience.m_start %></td>
        <td><%= experience.m_total %></td>
        <td><%= experience.f_start %></td>
        <td><%= experience.f_total %></td>
        <td><%= experience.helper %></td>
        <td><%= experience.location %></td>
        <td><%= experience.title %></td>
        <td><%= experience.body %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_experience_path(experience), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      experience_path(experience),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
                      <%=  link_to 'Show', experience %>     
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_experience_path,
            :class => 'btn btn-primary' %>
